<nav class="navbar navbar-expand-lg navbar-light nav-custom">
  <h1><a class="navbar-brand" href="/">Vihar Kurama</a></h1>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarNavDropdown"
  >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/authoring"
          >My Articles <span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/@vihar.kurama" ta
          >Medium</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/talks">Invited Talks</a>
      </li>
      <!--       <li class="nav-item">
        <a class="nav-link" href="https://cdn.discordapp.com/attachments/505249460339867650/5249571769942036/vihar-kurama-cv-2018.pdf">CV</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/vihar">Github</a>
      </li>
    </ul>
  </div>
</nav>
<hr />
